.h5-info{
    color: #39524F;
    text-decoration: none;
    

    &:hover{
        text-decoration:underline;
        text-decoration-color: #d8e1cc;
        text-decoration-thickness: 7px;
        text-underline-offset: -4px;
        color: #39524F;
    }

    h5{
       font-size: 16px;
       font-weight: 600;
       text-transform: uppercase;
       font-family: "Montserrat",Sans-serif;
    }
    
}


.icon-nav{
    // width: 121px;
    // height: 48px;
    margin-bottom: 5px;

    i{
        font-size: 41px;
        color: #39524F;
        font-weight: 600;
    }
}